.text-centered {
  text-align: center;
}

.wrapper {
  width: 100px;
  margin: auto;
}

body{
  background-color: whitesmoke;
}

ul {
  list-style-position: inside;
  margin: auto;
  width: 220px;
}

.align-left{
  text-align: left;
}

ol {
  list-style-position: inside;
  margin: auto;
  width: 225px;
}

header {
  background-color: lightsteelblue;
  color: darkslategrey;
  font-family: georgia;
  margin: auto;
  padding-top: 1px;
  height: 100px;
}

h2{
  color: darkslategrey;
  font-family: gill sans, sans serif;
}

h3{
  color: darkslategrey;
}

a:link {
  color: red;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
a:active {
  color: pink;
}

p {
  font-family: helvetica;
  color: midnightblue;
}

li{
  color: mediumblue;
}

div {
  display: grid;
  place-items: center;
}

html {
  box-sizing: border-box;
}

footer{
  background-color: lightsteelblue;
  color: darkslategray;
  margin: auto;
  padding: 3px;
}
