.text-centered {
  text-align: center;
}

.wrapper {
  width: 100px;
  margin: auto;
}

body{
  background-color:silver;
}

ul {
  list-style-position: square;
  margin: auto;
  width: 225px;
}

ol {
  list-style-position: inside;
  margin: auto;
  width: 225px;
}

header {
  background-color: gray;
  color: turquoise;
  font-family: georgia;
  margin: auto;
  padding-top: 1px;
  height: 100px;
}

h2{
  color: indigo;
  font-family: gill sans, sans serif;
}

h3{
  color: royalblue
}

a:link {
  color: red;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
a:active {
  color: pink;
}

p {
  font-family: helvetica;
  color: darkcyan;;
}

footer{
  background-color: slategrey;
  color: white;
}

li{
  color: darkslateblue;
}

div {
  display: grid;
  place-items: center;
}

html {
  box-sizing: border-box;
}
